.shop-container{
    display : grid;
    grid-template-columns: 4fr 1fr;
    justify-content: space-between;
    /* margin: 80px 30px; */
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 20px;
    gap: 20px;
    margin:60px 20px;
   

}
@media screen and(max-width:1100px){
    .products-container{
     grid-template-columns: repeat(2, 1fr);
    }
 }
 
