.cart{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}
.selected-item img{
    height:60px;
    width:60px;
    margin-right: 20px;
    border-radius: 50px;

}
.selected-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 100px;
    padding: 5px;
}

.name-title{
    font-size: medium;
    margin-right: 50px;
}